[Desktop Entry]
Encoding=UTF-8
Name=MehCoin
Comment=NovaCoin P2P Cryptocurrency
Comment[fr]=MehCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MehCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/lvyecoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/lvyecoin;
Categories=Office;
